@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.left-arrow {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.left-arrow:hover {
    transform: scale(1.2);
    color: #fff;
}
.header {
    background-color: #de5a2f;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.header-text {
    margin-left: 20px;
}

.header-text h1 {
    margin: 0;
    font-size: 24px;
}

.header-text p {
    margin: 5px 0 0;
}

.buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.submit-btn, .cancel-btn {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn {
    background-color: white;
    color: #d35400;
}

.cancel-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.form-section {
    background-color: white;
    padding: 20px;
    margin: 20px 28%;
    border-radius: 8px;
    width: 50%;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.info-section {
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 10px;
    font-size: 18px;
    color: #de874e;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    cursor: pointer;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
h2 {
    color: #e4a173;
}
